<div class="navbar-mini">
    <ul>                    
        <li><a id="editHawkerCentre" href="/admin/hawkercentre/edit">Edit Hawker Centre</a></li>
        <li><a id="addHawkerCentre" href="/admin/hawkercentre/add">Add Hawker Centre</a></li>
        <li><a id="addStall" href="/admin/hawkerstall/add">Add Hawker Stall</a></li>
        <li><a id="editUser" href="/admin/user/edit">Edit User</a></li>
    </ul>
</div>