<header>
    <div>
        <div class="logo"><a href="/">Hawker<br>Wiki</a></div>           
        <ul>                      
            <li class="navbar-links"><a href="/login">Log In</a></li>
            <li class="navbar-links"><a href="/register">Register</a></li>      
            <!-- <li class="navbar-links"><a href="#">Manager</a></li>-->                        
        </ul>
    </div>
    
</header>
<div id="login-welcome">
    <!-- <div>Welcome Azman</div> -->
</div>