<header>
    <div>
        <div class="logo"><a href="/">Hawker<br>Wiki</a></div>           
        <ul>
            <% if (user) { %>
                <% if (user.access === "administrator") { %>
                    <li class="navbar-links" id="admin"><a href="/admin">Admin</a></li>
                    <% } %>
            <li class="navbar-links" id="logout"><a href="/logout">Log Out</a></li>
                
            <% } else { %>                       
            <li class="navbar-links"><a href="/login">Log In</a></li>
            <li class="navbar-links"><a href="/register">Register</a></li>      
            <% } %>
            <!-- <li class="navbar-links"><a href="#">Manager</a></li>-->                        
        </ul>
    </div>
    
</header>
<div id="login-welcome">
    <% if (user) { %>
        <div>Welcome <a href="/users/<%= user._id %>"><%= user.username %></a></div>     
            
    <% } %>
</div>