<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="welcome notFirstPage">
            
            <div class="welcometext">
                <h1>About</h1>                
            </div>

        </div>
      

        <div class="productContainer">
            
            <div class="stall-container aboutpage">

                <h3>Motivations</h3>
                <p>This website seeks to be the first-ever repository of hawker stalls in Singapore.</p>
                <p>Govtech and NEA only offer data containing a <a href="https://data.gov.sg/dataset/list-of-government-markets-hawker-centres">list of hawker centres</a> in Singapore and their addresses, and a <a href="https://data.gov.sg/dataset/list-of-nea-licensed-eating-establishments-with-grades-demerit-points-and-suspension-history">list of Licensed Eating Establishments</a> with Grades, Demerit Points and Suspension History.</p>
                <p>We can now do our part to populate the data further by filling in information on what each hawker stall sells!</p>

                <h3>How to become a Hawkerpedian?</h3>
                <p>You will need to be recommended by an existing Hawkerpedian to edit the information on each hawker stall.</p>
                <p>If you are an existing Hawkerpedian, click on your username on the homepage and offer your User-ID to the person you want to recommend.</p>

                <h3>Integrity</h3>
                <p>All Hawkerpedians are expected to uphold the value of integrity and fill in the data as truthfully as possible.</p>
                <p>Any edits to the hawker stall page will be recorded and shown to all readers. Any untrue records will be immediately shown.</p>                             
                <p>The website's administrator will remove any Hawkerpedian who intentionally fills in wrong data.</p>
            
            </div>
                
        </div>
    </div>  

    
    
    
</body>
</html>