<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <div class="content">
        <div class="welcome notFirstPage">
            
            <div class="welcometext">
                <h1>Login Page</h1>                
            </div>

        </div>
      

        <div class="productContainer">
            
            <div id="loginContainer">
                <form action="/login">
                    <div> 
                        <label for="username">Username:</label>
                        <input id="username" name="username" type="email" /><br>
                        <div class="username_error"></div><br><br>
                    
                        <label for="password">Password:</label>
                        <input id="password" name="password" type="password" /><br>
                        <div class="password_error"></div><br><br>
                    </div>
                    <button type="submit">Login</button>
                </form>

            </div>
            
  
        </div>
    </div>  
    
    <script>
        const form = document.querySelector('form');
        const usernameError = document.querySelector('.username_error');
        const passwordError = document.querySelector('.password_error');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset errors
            usernameError.textContent = "";
            passwordError.textContent = "";
            
            //get the values
            const username = form.username.value;
            const password = form.password.value;            

            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({username, password}),
                    headers: { 'Content-Type': 'application/json'}
                });
                const data = await res.json();
                console.log(data);
                if (data.errors) {
                    usernameError.textContent = data.errors.username;
                    passwordError.textContent = data.errors.password;                    
                }
                if (data.user) {
                    location.assign('/'); //redirect to homepage
                }
            }
            catch (err) {
                console.log(err);
            }
        })
    </script>
    
</body>
</html>